
.example-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.ball {
    background: white;
    z-index:1;
    border-radius: 20%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% - 150px / 2);
    left: calc(50% - 150px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }