
  .example-container {
    width: 100vw;
    height: 100vh;
  }
  
  .prompt1 {
    position: absolute;
    top: calc(10%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prompt2 {
    position: absolute;
    top: calc(60%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageBoxes {
    position: absolute;
    top: calc(25%);
    display: grid;
    overflow: show;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }

  .box {
    background: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50% + 350px / 2);
    left: calc(50% - 150px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-icon {
    width: 100%;
    height: 100%;
  }
  
  .refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  