body {
  margin: 0;
  font-family: 'CharlieText-Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'CharlieText-Regular';
  font-weight: bold;
  color: #000000;
  
}

h2 {
  font-family: 'CharlieText-Thin';
  font-weight: 200;
  color: #000000;
}

h5 {
  font-family: 'CharlieText-Regular';
  font-weight: 200;
  color: #3ad6b9;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Charlie';
  src: local('Charlie'), url(./fonts/CharlieText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Charlie';
  src: local('Charlie'), url(./fonts/CharlieText-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Charlie';
  src: local('Charlie'), url(./fonts/CharlieText-Thin.ttf) format('truetype');
}


@font-face {
  font-family: 'Charlie';
  src: local('Charlie'), url(./fonts/CharlieText-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'ITCAvantGardeStd';
  src: local('Charlie'), url(./fonts/ITCAvantGardeStd-Demi.otf) format('opentype');
}


@font-face {
  font-family: 'Plateia';
  src: local('Charlie'), url(./fonts/Plateia-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'SF-UI';
  src: local('Charlie'), url(./fonts/SF-UI-Display-Light.otf) format('opentype');
}





::selection {
  background-color: rgba(58, 214, 185, 0.8);
  color: #ffffff;
  }

::-moz-selection {
  background-color: rgba(58, 214, 185, 0.8);
  color: #ffffff;
  }

a:link {
  color:#3ad6b9;
}

a:visited {
  color: #3ad6b9;
}

a:hover {
  color: #3ad6b9;
}

a:active {
  color: #3ad6b9;
}



