.container {
    width: 150px;
    height: 150px;
    background: #3ad6b9;
    border-radius: 30px;
  }

  .linkedIn {
    width: 150px;
    height: 150px;
    background: #0d74b7;
    border-radius: 30px;
  }
  
  